.about-text-items{
    min-width: 400px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#about-section{
    padding: 20px;
}
.about-text{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.about-text-bold{
    font-weight: 400;
    font-size: 36px;
    color: black;
}
.profileStyle{
    border-radius: 50%;
}
.aboutCardSelector{
    float: left;
}

@media (max-width: 850px) {
    .aboutCardSelector{
        float: none;
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}

.social-Card > .card-body{
    text-align: right;
    font-size: 36px;
}
.githubSocial{
    color: #333;
    margin-left: 10px;
}
.instaSocial{
    color: #E1306C;
    margin-left: 10px;
}
.linkedinSocial{
    color: #0077b5;
    margin-left: 10px;
}
.gmailSocial{
    color: #FBBC05;
    margin-left: 10px;
}
