.navbar{
    background-color: transparent!important;
    padding: 10px;
}
.navbar .container-fluid{
    --bs-gutter-x: 0rem;
}
.navbar-brand{
    font-size: min(36px, 6vw);
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: #4721FF;
    margin: 10px;
}
.navbar-brand:hover{
    color: #4721FF;
}
.navbar-nav{
    margin-left: auto!important;
}
.nav-item{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    background-color: #FFF7F3;
    border-radius: 25px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    transition: 0.3s;
}
.nav-item > a{
    color: #FD6000;
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;
}
.nav-item > a:hover{
    color: #131313;
    font-size: 24px;
}
#navContact{
    background-color: #FD6000;
}
#navContact > a{
    color: white;
    transition: 0.3s;
}
#navContact > a:hover{
    color: #131313;
}
.navbar-toggler{
    margin: 10px;
    border-radius: 25px;
    border: none;
    background-color: #FD6000;
}
.navbar-toggler > i{
    font-size: 24px;
    color: white;
}
